.ctn a {
  background-color:rgb(132, 191, 43);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: 'Staatliches', cursive;
  color: rgb(218, 218, 218);
  font-size: 2rem;
}

.ctn a:hover {
  color: white;
}