.ctn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  background: linear-gradient(0deg, rgb(2,0,36) 0%, rgb(9,9,121) 35%, rgb(0,212,255) 100%);
}

.box {
  height: 100%;
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5rem;
}

.guidePoints {
  display: flex;
  justify-content: space-evenly;
}

.pending {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: grey;
}

.passed {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color:rgb(255, 255, 255);
}