.ctn {
  display: flex;
  padding-bottom: 2rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  background: linear-gradient(0deg, rgb(2,0,36) 0%, rgb(9,9,121) 35%, rgb(0,212,255) 100%);
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5rem;
}

.score {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin-bottom: 10px;
  color: greenyellow;
}

.resultCtn {
  background-color: rgba(0, 0, 0, 0.397);
  padding: 30px;
  max-width: 768px;
  text-align: left;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgb(255, 255, 255);
}

.resultCtn ul{
  list-style: none;
  padding: 1rem;
}

.resultCtn ul li {
  margin: 20px 0;
}

.correct {
  color: greenyellow;
}

.error {
  color: rgb(255, 94, 94);
}