.ctn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-align: center;
  background: linear-gradient(0deg, rgb(2,0,36) 0%, rgb(9,9,121) 35%, rgb(0,212,255) 100%);
}
.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5rem;
}

.lightBlueColor {
  color: rgb(64, 163, 255);
  font-size: 2rem;
}