.ctn {
  background-color: rgba(255, 255, 255, 0.179);
  max-width: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 2px 2px 8px black;
}

.questionBox p {
  height: 60px;
}

.buttonCtn {
  margin: 2rem;
}

.buttonCtn button {
  border-style: none;
  background-color: rgb(122, 189, 22);
  color: white;
  padding: 10px 15px;
  margin: 0 10px;
  width: 80px;
  border-radius: 10px;
}

.buttonCtn button:hover {
  background-color: rgb(22, 189, 50);
  cursor: pointer;
}